input(type="checkbox" id="active")
.scene
  .moon
  .centerPart
    .text
      h2 Earth Hour
      h5 一同關燈 ， 守護地球
    label(for="active") 
      .switch
        .buttonOn
          .shadow
  .allStars
    .star1 
    .star2 
    .star3 
    .star4 
    .star5 
    .star6 
    .star7 
    .star8 
    .star9 
    .star10 
    .star11 
    .star12 
    .star13 
    .star14 
    .star15 
    .star16 
    .star17 
    .star18 
    .star19 
    .star20 
  .city
    .bottomBlack
    .darkBuildings
      .house1
        .windowLine
          .window1 
          .window2 
          .window3 
          .window4 
          .window5 
          .window6 
          .window7 
          .window8 
          .window9 
          .window10 
          .window11 
          .window12 
          .window13 
          .window14 
          .window15 
          .window16 
          .window17 
          .window18 
          .window19 
          .window20 
          .window21 
          .window22 
          .window23 
          .window24 
          .window25 
          .window26 
          .window27 
          .window28 
          .window29 
          .window30 
      .house2 
        .windowThin
        .windowWide
        .windowThin
        .windowWide
        .windowThin
        .windowWide
        .windowThin
        .windowWide
      .house3 
      .house4 
        .windowLine
          .window1 
          .window2 
          .window3 
          .window4 
          .window5 
          .window6 
          .window7 
          .window8 
          .window9 
          .window10 
          .window11 
          .window12 
          .window13 
          .window14 
          .window15 
          .window16 
          .window17 
          .window18 
          .window19 
          .window20 
          .window21 
          .window22 
          .window23 
          .window24 
          .window25 
          .window26 
          .window27 
          .window28 
          .window29 
          .window30 
          .window31 
          .window32 
          .window33 
          .window34 
          .window35 
          .window36 
          .window37 
          .window38 
          .window39 
          .window40 
          .window41 
          .window42 
          .window43 
          .window44 
          .window45 
          .window46 
          .window47 
          .window48 
          .window49 
          .window50 
          .window51 
          .window52 
          .window53 
          .window54 
          .window55 
          .window56 
          .window57 
          .window58 
          .window59 
          .window60 
      .house5 
        .windowLine
          .window1 
          .window2 
          .window3 
          .window4 
          .window5 
          .window6 
          .window7 
          .window8 
          .window9 
          .window10 
          .window11 
          .window12 
          .window13 
          .window14 
          .window15 
          .window16 
          .window17 
          .window18 
          .window19 
          .window20 
          .window21 
          .window22 
          .window23 
          .window24 
          .window25 
          .window26 
          .window27 
          .window28 
          .window29 
          .window30 
        .wall
      .house6
        .windowLight 
        .windowDark
        .windowLight 
        .windowDark 
        .windowLight 
        .windowDark
      .house7 
        .bottom
          .window1
          .window2
        .top
         .wall  
      .house8 
        .top
          .windowLine
            .window1 
            .window2 
            .window3 
            .window4 
            .window5 
            .window6 
            .window7 
            .window8 
            .window9 
            .window10 
            .window11 
            .window12 
            .window13 
            .window14 
            .window15 
            .window16 
            .window17 
            .window18 
            .window19 
            .window20 
        .bottom
        .lineThree
          .line1
          .line2
          .line3
        .wall
          .stick
      .house9 
        .bottom
          .window1 
          .window2 
          .window3 
        .top
          .window1 
          .window2 
          .window3 
      .house10 
        .left
          .windowLine
            .window1 
            .window2 
            .window3 
            .window4 
            .window5 
            .window6 
            .window7 
            .window8 
            .window9 
            .window10 
            .window11 
            .window12 
            .window13 
            .window14 
            .window15 
            .window16 
            .window17 
            .window18 
            .window19 
            .window20 
            .window21 
            .window22 
            .window23 
            .window24 
            .window25 
            .window26 
            .window27 
            .window28 
            .window29 
            .window30  
        .right
          .window1
          .window2
      .house11 
        .double
          .window 
          .window 
        .double2
          .window 
          .window 
        
  .lightBuildings
    .house1 
    .house2 
    .house3 
    .house4 
    .house5 
    .house6 
    .house7 
    .house8 
    .house9 
    .house10 
    .house11 
    .house12 
  